<form
  class="gx-4 gy-2"
  [formGroup]="registerationFormValidation"
  (ngSubmit)="Show()"
>
  <div class="container comp">
    <h2>Map Settings</h2>
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <div class="input-group-text">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="16"
              fill="currentColor"
              class="bi bi-record-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" /></svg
            >Cluster radius
          </div>
          <input
            type="number"
            class="form-control"
            id="specificSizeInputGroupUsername"
            placeholder=""
            formControlName="ClusterRadius"
            [(ngModel)]="clusterRadius"
          />
          <div class="input-group-text">M</div>
        </div>
        <div *ngIf="!ClusterRadiusValid" class="alert alert-danger">
          Zero is not allowed , <b>The value must be between 0.01 and 99</b>
        </div>
      </div>

      <div class="col-6">
        <div class="input-group">
          <div class="input-group-text">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-left-right"
              viewBox="0 0 20 17"
            >
              <path
                fill-rule="evenodd"
                d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"
              /></svg
            >Geo-Fencing
          </div>
          <div class="input-group-text col-lg-6 col-sm-1"></div>
          <div class="input-group-text">
            <mat-slide-toggle (change)="onToggleChange()"></mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container comp">
    <h2>Duplication Event Configuration</h2>
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <div class="input-group-text">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="16"
              fill="currentColor"
              class="bi bi-clock"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
              />
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
              /></svg
            >Time Buffer
          </div>
          <input
            type="number"
            class="form-control"
            id="specificSizeInputGroupUsername"
            placeholder=""
            (keydown)="validate($event)"
            [(ngModel)]="timeBuffer"
            [ngModelOptions]="{ standalone: true }"
          />
          <div class="input-group-text">Minutes</div>
        </div>
      </div>

      <div class="col-6">
        <div class="input-group">
          <div class="input-group-text">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="46"
              height="16"
              fill="currentColor"
              class="bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              /></svg
            >Location Buffer
          </div>
          <input
            type="number"
            class="form-control"
            id="specificSizeInputGroupUsername"
            placeholder=""
            formControlName="myNumberControl"
            [(ngModel)]="locationBuffer"
            (ngModelChange)="onInputChange()"
            (keydown)="validate($event)"
          />
          <div class="input-group-text">KM</div>
          <div *ngIf="!NumberDecimalValid" class="alert alert-danger">
            Please enter a number with up to 3 decimal places.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container comp">
    <h2>End Event Duration</h2>
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <div class="input-group-text">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="16"
              fill="currentColor"
              class="bi bi-clock"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
              />
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
              /></svg
            >Duration
          </div>
          <input
            type="number"
            class="form-control"
            id="specificSizeInputGroupUsername"
            placeholder=""
            (keydown)="validate($event)"
            [(ngModel)]="duration"
            [ngModelOptions]="{ standalone: true }"
          />
          <div class="input-group-text">Minutes</div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-3">
          <select
            class="form-select slct1"
            id="specificSizeSelect"
            (change)="onSelect($event)"
          >
            <option selected disabled>Map Type</option>
            <option *ngFor="let mt of MapType" value="{{ mt.name }}">
              {{ mt.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-3">
          <select
            class="form-select slct2"
            id="specificSizeSelect"
            (change)="onSelectSub($event)"
          >
            <option selected disabled>Map Sub Type</option>
            <option *ngFor="let MST of MapSubType" value="{{ MST.subname }}">
              {{ MST.subname }}
            </option>
          </select>
        </div>
      </div>

      <div class="mt-3 d-flex justify-content-between">
        <div>
          <button type="reset" class="btn btn-warning">Reset</button>
        </div>
        <div class="">
          <button
            type="submit"
            class="btn btn-primary mx-2"
            (click)="registerNewMap()"
          >
            Submit
          </button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="container mt-4">
  <h1>Maps Table</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Map Type</th>
        <th scope="col">Map Sub Type</th>
        <th scope="col">Cluster Radius</th>
        <th scope="col">Geo Fencing</th>
        <th scope="col">Time Buffer</th>
        <th scope="col">Location Buffer</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prop of mapProps">
        <td>{{ prop.id }}</td>
        <td>{{ prop.mapType }}</td>
        <td>{{ prop.mapSubType }}</td>
        <td>{{ prop.clusterRadius }}</td>
        <td>{{ prop.geoFencing }}</td>
        <td>{{ prop.timeBuffer }}</td>
        <td>{{ prop.locationBuffer }}</td>
        <td>{{ prop.duration }}</td>
      </tr>
    </tbody>
  </table>
</div>
